.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container, .container-fluid {
  margin-top: 10px;
}

.custom-tag {
  max-width: 100%;
  height: 300px;
  background: black;
}

div.custom-container {
  background-color: #242424;
}

svg.custom .node circle {
  fill: #F3F3FF;
  stroke: #2593B8;
  stroke-width: 1.5px;
}

svg.custom .node text {
  font-size: 13px;
  background-color: #444;
  fill: #F4F4F4;
  text-shadow: 0 1px 4px black;
}

svg.custom .node{
  cursor: pointer;
}

svg.custom path.link{
  fill: none;
  stroke: #2593B8;
  stroke-width: 1.5px;
}